<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel='stylesheet' href='/style.css'>
  <meta charset ="utf-8">
  <title>Rock Paper Scissors!</title>
</head>
<body>
  <h1>Rock Paper Scissors!</h1>
  <p>A game of skill...</p>
  <ul>
    <li><a href = '/welcome'> Home </a></li>
    <li><a href = '/rules'> Rules </a></li>
  </ul>
  <%= yield %>

</body>
</html>